<launch>
  <!-- Please replace gcloud_credentials.json with a proper credential path. -->
  <node
    name="gcloud_speech_action_node"
    pkg="gcloud_speech"
    type="gcloud_speech_action_node"
    args="
      --grpc_roots=$(find gcloud_speech_utils)/assets/grpc_roots.pem
      --gcloud_cred=/opt/cogrob/credentials/gcloud_credentials.json
    "
  />

  <!-- Please replace Logitech with a proper microphone name. -->
  <node name="record_microphone_audio" pkg="gcloud_speech_utils"
        type="record_microphone_audio" respawn="true" args="--mic=Logitech" />

  <node name="gcloud_speech_example_client" pkg="gcloud_speech_utils"
        type="example_client.py" respawn="true" output="screen"/>

  <node name="playback_microphone_audio" pkg="gcloud_speech_utils"
        type="playback_microphone_audio.py" />
</launch>
